{% extends 'main.html' %}
{% load static %}
{% block content %} 

<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <h4 class="card-title mb-4 text-muted"> Create a New Customer in the database </h4>
            <form action=""method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <a href="{% url "home" %}" class="card-link btn btn-danger">Back</a>
                <input type="submit" name="submit" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
{% endblock %}