{% extends "main.html" %}
{% load static %}
{% block content %}




<div class="card m-3" style="width: 18rem;">
  <div class="card-body ">
    <h4 class="card-title fs-6 text-muted">Customer name</h4>
    <h5 class="card-title fs-1">{{customer_name}}</h5>
    <form action="" method="POST">
    {% csrf_token %}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Order ID:- {{order.id}}</li>
    <li class="list-group-item">Product name:- {{form.product}}</li>
    <li class="list-group-item">Status:- {{form.status}}</li>
  </ul>
<div class="card-body">
    <a href="{% url "order_list" %}" class="card-link btn btn-danger">Back</a>
    <input type="submit" name="submit" class="btn btn-primary">
</div>

</form>
</div>
{% endblock %}