/* <style> */
    #logo{
        
    }
    body{
        background-color: #292929;
        color: #fffff0;

    }
    #total-orders{
        background-color: #494949;
        
    }
    #total-orders:hover{
        transform: translate(-5px);
        box-shadow: 0 10px 20px rgba(76, 149, 244, 0.444);
        cursor: pointer;

    }

    #orders-delivered{
        background-color: #696969;
    }

    #orders-pending{
        background-color: #898989;
    }
    
    #out-for-delivery{
        background-color: #999999;
    }

    h4,h5,p{
        color: #797979;
    }
    #total-order{
        color: #797979;
    }

/* </style> */